{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <span id='span_h3'><h3><b>Editar Equipamento</b></h3></span>
     <br>

       <form method="post">
 
           <br>
           {% csrf_token %}
           <div class="form-row">
             <div class="form-group col-md-6">
               {{ form.name }}
           </div>    
           <div class="form-group col-md-3">
               {{ form.ip_address }}
           </div>    
           </div>  
           <input type="submit" class="btn btn-success" value="Salvar">
           <a href="/lista_equipamentos" class="btn btn-primary" role="button" aria-pressed="true">Voltar</a>
    </form>
    </div>
</main>
    
           

{% endblock %}